/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    padding-top: 15px;
}

.type-view{
    margin-right: 10px;
    width: 140px;
    background-color: #4a4a4a;
    height: 25px;
    color: white;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.full-view{
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #4a4a4a;
    margin-right: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

main{
    /* border: 5px solid blue; */
    flex-grow: 1;
    background-color: #000000;
}

.wrapper{
    max-width: 1800px;
    /* border: 5px solid magenta; */
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
}

.wrapper .card{
    width: 250px;
    /* border: 2px dashed orange; */
    position: relative;
}

.card img{
    width: 100%;
    display: block;
    height: 120px;
}

.card .description-card{
    width: 120px;
    height: 30px;
    background-color: rgba(100, 110, 122, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 30px;
    text-align: center;
    color: white;
}

footer{
    height: 84px;
    background-color: #222222;
    color: white;
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-footer{
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 10px;
}

.devices ul{
    display: flex;
    align-items: center;
}

.devices ul li{
    list-style: none;
    margin-right: 25px;
    cursor: pointer;
}

.devices ul li i{
    display: block;
    font-size: 28px;
    margin-bottom: 8px;
}

.devices ul .arrow-up i{
    font-size: 12px;
}

.buttons-footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.buttons-footer ul li{
    margin-right: 20px;
    cursor: pointer;
}

.buttons-footer ul li i{
    display: block;
    font-size: 25px;
    margin-bottom: 8px;
}

.close-button{
    width: 120px;
    height: 84px;
    background-color: #4a4a4a;
    align-items: center;
    justify-content: center;
    display: flex;
}

.close-button a{
    text-decoration: none;
    color: red;
}

.buttons-footer ul .arrow-up i{
    font-size: 12px;
}